<mat-sidenav-container fullscreen>

  <mat-sidenav #sidenav>

    <mat-nav-list (click)="sidenav.close()">

      <a mat-list-item routerLink="hairdressers">
        <mat-icon>home</mat-icon>
        <span>Pealeht</span>
      </a>
      <a mat-list-item routerLink="hairdressers">
        <mat-icon>face</mat-icon>
        <span>Juuksurid</span>
      </a>
      <a mat-list-item routerLink="hairdressers">
        <mat-icon>date_range</mat-icon>
        <span>Broneerimine</span>
      </a>
      <a mat-list-item routerLink="hairdressers">
        <mat-icon>menu_book</mat-icon>
        <span>Hinnakiri</span>
      </a>
      <a mat-list-item routerLink="hairdressers">
        <mat-icon>contact_phone</mat-icon>
        <span>Kontakt</span>
      </a>
      <a mat-list-item routerLink="hairdressers">
        <mat-icon>question_mark</mat-icon>
        <span>KKK</span>
      </a>

    </mat-nav-list>

  </mat-sidenav>

  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.open()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>

  <router-outlet></router-outlet>

</mat-sidenav-container>
